@import url("../css/fonts.css");
@import url("../css/reset.css");
@import url("../css/responsive.css");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: IRANSans;
    line-height: 2;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.row {
    display: flex;
}

a {
    text-decoration: none;
    transition: all .5s ease-in;
}

/* Start Header Top */
#header-top {
    width: 100%;
    height: 5vh;
    background-color: #252525;
    display: flex;
}

#header-top .header-top-message {
    width: 50%;
    display: flex;
    align-items: center;
    color: #fff;
}

#header-top .header-top-message p {
    font-size: 13px;
}

#header-top .header-top-social {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

#header-top .header-top-social ul {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

#header-top .header-top-social ul li {
    width: 25%;
    height: 100%;
    text-align: left;
    align-items: center;
}

#header-top .header-top-social ul li a {
    font-size: 18px;
    color: #fff;
}

/* Start Info */

#info {
    background-color: #333;
    padding: 20px 0;
}

#info .info-item {
    width: 33.33%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#info .info-item:nth-child(2),
#info .info-item:nth-child(3) {
    padding-right: 15px;
}

#info .info-item .info-item-icon svg {
    font-size: 38px;
    color: #fff;
}

#info .info-item .info-item-desc {
    color: #fff;
    font-size: 14px;
}

#info .info-item .info-item-desc p {
    line-height: 23px;
}

#info .info-item .info-item-desc .friday {
    margin-top: 7px;
    font-size: 13px;
}

#info .info-item .info-item-desc.phone {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

#info .info-item .info-item-desc.phone .mobile {
    margin-top: 10px;
}

/* End Info */

/* Start Slider */
#slider {
    background-image: url("../images/p1.jpg");
    background-size: cover;
    height: 900px;
    display: flex;
    position: relative;
}

#slider .overlay {
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#slider .slider-desc {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    color: #fff;
}

#slider .slider-desc .typed {
    margin-top: 30px;
}

#slider .slider-desc .typed span {
    font-weight: 900;
    font-size: 40px;
    color: #faa000;
}

/* End Slider */
/* Start Slider */
#slider {
    background-image: url("../images/p1.jpg");
    background-size: cover;
    height: 900px;
    display: flex;
    position: relative;
}

#slider .overlay {
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#slider .slider-desc {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    color: #fff;
}

#slider .slider-desc .typed {
    margin-top: 30px;
}

#slider .slider-desc .typed span {
    font-weight: 900;
    font-size: 40px;
    color: #faa000;
}

/* End Slider */
/* Start Slider */
#slider {
    background-image: url("../images/p1.jpg");
    background-size: cover;
    height: 900px;
    display: flex;
    position: relative;
}

#slider .overlay {
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#slider .slider-desc {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    color: #fff;
}

#slider .slider-desc .typed {
    margin-top: 30px;
}

#slider .slider-desc .typed span {
    font-weight: 900;
    font-size: 40px;
    color: #faa000;
}

/* End Slider */

/* Start Header */
#header {
    display: flex;
    width: 100%;
    background-color: #0f0f0f;
    /*height: 9vh;*/
}

#header nav {
    display: flex;
    justify-content: space-between;
    /*height: 9vh;*/
}

#header nav ul {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header nav ul li {
    position: relative;
}

#header nav ul li::before {
    content: "";
    width: 0;
    height: 4px;
    background-color: #faa000;
    position: absolute;
    bottom: 0;
    transition: all 300ms ease-in-out;
    border-radius: 20px;
}

#header nav ul li:hover::before {
    width: 100%;
}

#header nav ul li a {
    color: #fff;
    font-size: 18px;
}

#header nav .brand-logo {
    width: 8%;
}

#header nav .brand-logo img {
    width: 100%;
    height: 100%;
    display: block;
}

/* End Header */
/* End Header Top */

/* Start Story */

#base-story {
    width: 100%;
    padding: 80px 0;
}

.base-video {
    width: 50%;
    position: relative;
}

.base-video::before,
.base-video::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 15px;
    background-color: #faa000;
}

.base-video::after {
    right: -15px;
    width: 15px;
    height: 50%;
}

.base-video video {
    width: 100%;
}

.base-story {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 35px;
}

.story-title h3 {
    margin-bottom: 15px;
    border-right: 4px solid #faa000;
    padding: 10px;
    font-size: 18px;
    font-weight: bolder;
}

.base-story-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 0;
}

.base-story-item div {
    width: 24%;
    text-align: center;
    background-color: #faa000;
    padding: 40px;
    border-radius: 5px;
    position: relative;
}

.base-story-item div a {
    color: #000;
}

.base-story-item div::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 3%;
    left: 0;
    transform: rotate(-40deg);
    border-right: 11px solid transparent;
    border-left: 11px solid transparent;
    border-top: 11px solid #000;
}

.base-story-item div::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -3%;
    left: -5%;
    transform: rotate(140deg);
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    border-top: 12px solid #fff;
}

.base-story-item div svg {
    font-size: 35px;
    /*margin: 0 0 10px 0;*/
}

/* End Story */

/* Start Services Section */

#services{
    width: 100%;
    background-image: url("../images/coverservice.png");
    background-size: cover;
    height: 500px;
}



/* End Services Section */